body{
    box-sizing: border-box;
    margin: 0 0 100px 0;
    background: #222222;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 99vw;
    height: 10vh;

    .tabs{
        input{
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width:30px;
        top: 10px;
        right: 20px;
        label{
            opacity: 0.6;
            color: white;
            font-size: 30px;
        }
    }
}

.main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 90vh;

    .data{
        .x{
            border: 2px solid black;
            border-radius: 50%;
            padding: 10px 20px 10px 20px;
            color: whitesmoke;
            position: absolute;
            top: 5vh;
            left: 40vw;
            font-size: 4em;
        }
        .y{
            width: 20vw;
            height: 13vh;
            position: absolute;
            top: 5vh;
            right: 30vw;
            font-size: 1.2em;
            text-indent: 20px;
            font-family: "Comic Sans MS";
        }
        .z{
            width: 28.8vw;
            height: 40vh;
            border: 2px solid black;
            border-radius: 10px 10px 0 0;
            position: absolute;
            top: 23vh;
            right: 30vw;
        }

    }

    .u{
        position: absolute;
        top: 5vh;
        left: 25vw;
        transition: .8s;
        border-radius: 100px;
        width: 160px;
        height: 50px;
        text-align: center;
        font: bold 25px "Comic Sans MS";
        color: white;
        transform: scale(0.8);
        background: linear-gradient(#EEEEEE,#686D76);
        background-size: 1000%;
        border: none;
    }
    button:hover{
        z-index: 2;
        transform: scale(1.1);
        box-shadow: 0 0 5px 3px ghostwhite;
        border: 1px solid silver;
    }
    /*
    .container1{
        position: absolute;
        top: 50vh;
        left: 10vw;
        background-color: floralwhite;
    }
    .container2{
        position: absolute;
        top: 50vh;
        right: 10vw;
        background-color: floralwhite;
    }
    .container1,.container2{
        margin-top: 30vh;
        transition: .5s;
        width: 500px;
        height: 550px;
        border-radius: 10px
    }
    .container1:hover,.container2:hover{
        z-index: 2;
        transform: scale(1.1);
    }
    */
}
